*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

/* utilitis */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card{
    width: calc(100% / 3 - 2em) ;
    display: inline-block;
    float:left;
    background-color: #0F0E17;
    /* border: 2px solid black; */
    margin-right: 2rem;
    margin-top: 3rem;
    color: white;
    box-shadow:  -5px 5px 5px rgba(0,0,0,0.3);
}
/* main */

.container{
    width: 50%;
    margin: auto;
}

/* titolo */
h1{ 
    color:#E53170;
    font-size: 2rem;
}

h1,p{
    text-align: center;
    margin-top: 3rem;
}

.card img{
    width: 25%;
    float: left;
    vertical-align: bottom;

}

.vertical{
    float: left;
}
.vertical h2,span,a{
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: block;
}

.vertical>h2{
    font-size: 1.2rem;
}
.vertical>span{
    font-size: 0.8rem;
}

.vertical>h2,span,a{
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}

.mail{
    color:#6ECBE3;
}